{% extends 'base.html' %}
{% block header %}
  {% include 'header.html' %}
{% endblock %}
{% block content %}
<div class="ui horizontal segments">
	<div class="ui segment">
		<h2>Intensjon</h2>
		<p>Lære mer om maskinlæring og Python. Besvare spørsmålet: Hvilken veg er det best å gjøre forbedringer på</p>
	</div>
	<div class="ui segment">
		<h2>Arbeidet</h2>
		<p>Vi delte gruppen i to, og jobbet parallelt med maskinlæringsmodellen og
		api-klienten.</p><p>Vi brukte uforholdsmessig mye tid på å skape datagrunnlaget, og møtte en del utfordringer med inndeling av vegstrekninger.</p>
	</div>
	<div class="ui segment">
		<h2>Verktøy</h2>
		<ul>
			<li>Git, Github</li>
			<li>Python, Flask, Semantic UI</li>
			<li>Spyder, PyCharm, Sublime Text</li>
			<li><a href="http://scikit-learn.org/stable/index.html">scikit-learn</a></li>
			<li><a href="http://api.vegdata.no/">API-dokumentasjonen for Statens vegvesens trafikkdatabase</a></li>
		</ul>
	</div>
</div>
<div class="ui horizontal segments">
	<div class="ui padded segment">
	<h2 class="ui header">Variabler og behandling</h2>
	<p>Vegreferanser forenkles til å gjelde vegnummer, fylke og kommune, det vil si at vi ikke tar hensyn til nøyaktig plassering langs vegen. Vi ekskluderer veger mindre enn fylkesveger. Vi har valgt ut følgende objekttyper som interessante for vårt formål:
		<ul class="ui list">
			<li>Ulykker<br/>
				Vi tilordner verdipoeng slik
				<table class="ui very basic collapsing celled table">
					<tr><th>Skadetype</th><th>Verdipoeng</th></tr>
					<tr><td>Drepte</td><td>10</td></tr>
					<tr><td>Meget hardt skadd</td><td>8</td></tr>
					<tr><td>Hardt skadd</td><td>6</td></tr>
					<tr><td>Letere skadd</td><td>1</td></tr>
				</table>
			</li>
		</ul>
	</div>
	<div class="ui padded segment">
		<ul class="ui list">
			<li>Fartsgrenser<br/>
				Gjennomsnittlig fart for strekningen</li>
			<li>Viltvarsler<br/>
				Antall skilt med viltvarsling for vegstrekningen</li>
			<li>Trafikkmengde<br/>
				Gjennomsnitt for registrerte trafikkmålingen for vegstrekningen. Dersom det ikke er data for trafikkmengde bruker vi gjennomsnittet for alle trafikkmålinger</li>
			<li>Fartsdempere<br/>
				Antallet fartsdempere av forskjellig typer på vegstrekningen</li>
			<li>Automatisk trafikkontroll (fotobokser)<br/>
				Antallet fotobokser registrert på strekningen</li>
			<li>Svingrestriksjoner<br/>
				Antallet fareskilter om svingete veg</li>
			<li>Vegskulder<br/>
				Summen av vegskulderregistreringer for strekningen, asfaltert: 3, ukjent: 2, grus: 1
			</li>
		</ul>
	</div>
</div>

{% endblock %}
{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
