<html>
<head>
	<title>{% block title %}{% endblock %}SSB Hackaton - Døden er nær</title>
	<link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
	<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
	<script src="static/semantic/semantic.min.js"></script>
</head>
<body>
	<div class="ui container">
		{% block header %}{% endblock %}
		<h1>Hack4SSB - Døden er nær</h1>
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
	</div>
</body>
</html>