{% extends 'base.html' %}
{% block header %}
  {% include 'header.html' %}
{% endblock %}
{% block content %}
<div class="ui raised segment">
	<img class:="ui medium image" src="/static/img/plot.png">
</div>
<div class="ui raised segment">
	<div class="ui bulleted list">
		<div class="item">Figurer for å illustrere resultatene - spesielt vise potensialet for reduserte ulykker på en god grafisk måte</div>
		<div class="item">Bedre datagrunnlag med flere variable. Datasettet vårt har for mange tomme verdier. Det er ganske sikkert at vi kan forbedre prediksjonsevnen til modellen med et mer komplett datagrunnlag.</div>
		<div class="item">Ta hensyn til utikling over tid. Vi har sett alle tiltak samlet, men tar ikke i betrakning hvor lenge tiltakene har vært aktive.</div>
		<div class="item">Analysere ulykkene bedre. Det er mulig at vi ville få bedre resultat dersom vi tar utgangspunkt i ulykkesbeskrivelsene i stedt for vegstrekning.</div>
	</div>
</div>


{% endblock %}
{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
