<div id="logo" class="ui image"><img src="/static/img/SSB_logo.png" alt="SSB logo"></div>
<div id="logo" class="ui right floated small image"><a href="https://github.com/are3k/death-is-near"><img src="/static/img/fork_me.png" alt="Fork me on github"></a></div>
<div class="ui menu">
    <a class="{% if index %}active {% endif %}item" href="/">Modellen </a>
    <a class="{% if about %}active {% endif %}item" href="/about">Om arbeidet</a>
    <a class="{% if future %}active {% endif %}item" href="/future">Mulige forbedringer</a>
</div>