{% extends 'base.html' %}
{% block header %}
  {% include 'header.html' %}
{% endblock %}
{% block content %}
<h1>SSB Hacaton - Vegstatistikk</h1>
<form action="" method="post" novalidate>
<div class="ui grid">
	<div class="six wide column">
        {{ form.hidden_tag() }}
        {{ form.change_parameter.label }}<br>
        {{ form.change_parameter(class="ui compact selection dropdown") }}
    </div>
	<div class="six wide column">
        {{ form.change.label }}<br>
        <div class="ui input">{{ form.change }}</div>
    </div>
	<div class="four wide column">
        {{ form.submit(class="ui button") }}
    </div>
</div>
</form>
{{ modell|safe }}
{% endblock %}
{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
